<p>from  review widget component</p>
<form class="form-inline center_form">
	<div class="form-row">
		<i onclick="toggleLikeDislike(this)" class="fa fa-thumbs-up"></i>
	    <div class="col">
	      <input type="text" class="form-control" placeholder="Dish  Eg:Pizza">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" placeholder="Restaurant  Eg:BBQ Nation">
	    </div>

	<div class="dropdown">
	  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    City
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <button class="dropdown-item" type="button">Pune</button>
		    <button class="dropdown-item" type="button">Mumbai</button>
    	</div>
	</div>

	    <div class="col">
	      <input type="text" class="form-control" placeholder="Other Thoughts...">
	    </div>
  </div>	
</form>
